doctype html
html
  head
    meta(charset='utf-8')
  body
    h1
      a(href='/board') 게시판
    ul
      each board in topics
        li
          a(href='/board/'+board.id)= board.title
    artcle
      h1= 'Delete? '+board.title
      form(action='/board/'+board.id+'/delete' method='post')
        p
          input(type='submit' value='YES')
      a(href='/board/'+board.id) no
